
@import "tailwindcss";

* {
box-sizing: border-box;
}
html,
body,#root {
height: 100%;
width: 100%;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
html {
  scrollbar-width: none;
}
